@import "../../styles-config.scss";

.slideshow-wrapper {
  position: relative;

  height: 70%;

  .swiper,
  .slide,
  .slide-content {
    height: 100%;
  }
}

.slideshow-navigation {
  background: $black;

  position: absolute;
  bottom: 0;
  z-index: 3;
  left: 60%;

  display: flex;
  justify-content: space-between;

  &--next,
  &--prev {
    padding: 25px 30px;
    cursor: pointer;
  }
}
