@import "../../abstracts/mixins";
@import "../../styles-config.scss";

$b: ".slideshow";

#{$b} {
  &-wrapper {
    position: relative;

    height: 70%;

    .swiper,
    .slide,
    .slide-content {
      height: 100%;
    }
  }

  &-navigation {
    background: $black;

    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 60%;

    display: flex;
    justify-content: space-between;

    &--next,
    &--prev {
      padding: 25px 30px;
      cursor: pointer;

      transition: all 0.5s;

      &:hover {
        background: $veryDarkGray;
      }
    }
  }

  @include phone-only {
    &-wrapper {
      // height: 100dvh;
      min-height: 100vh;
      height: auto;

      .swiper {
        height: inherit;
      }
    }

    &-navigation {
      bottom: auto;
      right: 0;
      left: auto;
      top: calc(50vh - 77.5px);
    }
  }

  @include phone-landscape {
    &-navigation {
      top: calc(65vh - 77.5px);
    }
  }
}
