@font-face {
  font-family: "LeagueSpartanBlack";
  src: url("./fonts/LeagueSpartan-Black.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartanLight";
  src: url("./fonts/LeagueSpartan-Light.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartanRegular";
  src: url("./fonts/LeagueSpartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartanMedium";
  src: url("./fonts/LeagueSpartan-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartanSemiBold";
  src: url("./fonts/LeagueSpartan-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "LeagueSpartanBold";
  src: url("./fonts/LeagueSpartan-Bold.ttf") format("truetype");
}
