@import "../../styles-config.scss";

.header {
  // background-color: $veryDarkGray;

  display: flex;
  align-items: center;
  padding: 50px;
  position: absolute;
  width: 100%;
}

.logo {
  display: flex;
  cursor: pointer;
  margin-top: 2px;
}

.navigation {
  ul {
    display: flex;
    color: $white;
    margin: 0;
    padding-left: 60px;

    li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 45px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
