// COLORS
$darkGray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGray: hsl(0, 0%, 27%);

// TYPOGRAPHY
$bodyFontSize: 12px;

//TODO: Add fonts
/*
- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 500, 600, 700
*/
