@import "../../styles-config.scss";

$b: ".slide";

#{$b} {
  display: flex;
  flex-direction: column;

  &-content {
    display: flex;

    &__title {
      font-family: LeagueSpartanBold;
      font-size: 48px;
    }

    &__text {
      font-size: 15px;
      margin-bottom: 30px;
      line-height: 1.5em;
      color: $darkGray;
    }

    &__link {
      display: flex;
      text-decoration: none;
      color: $black;
      letter-spacing: 1em;
      text-transform: uppercase;

      span {
        margin-right: 15px;
      }
    }

    &__image {
      width: 60%;
      flex-shrink: 0;
      object-fit: cover;
    }

    &__info {
      padding: 95px 90px;
    }
  }

  @media (max-width: 767px) {
    &-content {
      flex-direction: column;

      &__title {
        font-size: 34px;
      }

      &__image {
        width: 100%;
        height: 50vh;
      }

      &__info {
        padding: 0 25px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 50vh;
      }
    }
  }
}
